<h3>{{leyenda}}</h3>

<div class="input-group">
    <span class="input-group-btn">
            <button (click)="cambiarValor(-5)" class="btn btn-primary" type="button"><i class="mdi mdi-minus"></i></button>
        </span>

    <input #txtProgress [(ngModel)]="progreso" (ngModelChange)="onChanges($event)" name="progreso" type="number" class="form-control" placeholder="Product Name" aria-label="Product name">

    <span class="input-group-btn">
                <button (click)="cambiarValor(+5)" class="btn btn-primary" type="button"><i class="mdi mdi-plus"></i></button>
            </span>
</div>